<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" routerLink="/home">
                <h2>Car Dealer</h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Home
                    <span class="sr-only">(current)</span>
                  </a>
                    </li>

                    <li class="nav-item"><a class="nav-link" routerLink="/shop">Cars</a></li>

                    <li class="nav-item active"><a class="nav-link" routerLink="/about">About Us</a></li>

                    <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Page Content -->
<div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-1-1920x500.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Dealer</h4>
                    <h2>about us</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>About us</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="../../../assets/dist/images/about-1-570x350.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                  
                    <p>It is the directory for the Buying and Selling of Vehicles in the Dominican Republic with the most experience and dedication, since our focus is not to have a simple Directory, but rather a tool that serves as a parameter for users to buy and sell their vehicles, verify the conditions, make comparisons and obtain the best online service in the Dominican Republic.

                        We have more than 23 years of experience in the Automotive Sector in the Dominican Republic, which supports us, together with our dedication and dedication, to provide you with the best support and the best attention, so that you feel at home, with products and service of first quality and at the height of your most demanding requirements.</p>
                  
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <p>Copyright @ 2022</p>
                </div>
            </div>
        </div>
    </div>
</footer>