<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <h2>Car Dealer <em>Website</em></h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Home
                    <span class="sr-only">(current)</span>
                  </a>
                    </li>

                    <li class="nav-item"><a class="nav-link" routerLink="/shop">Cars</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="blog.html">Blog</a>
                            <a class="dropdown-item" href="team.html">Team</a>
                            <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                            <a class="dropdown-item" href="terms.html">Terms</a>
                        </div>
                    </li>

                    <li class="nav-item active"><a class="nav-link" routerLink="/about">About Us</a></li>

                    <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Page Content -->
<div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-1-1920x500.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>about us</h4>
                    <h2>Concensionario de autos</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>About us</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="../../../assets/dist/images/about-1-570x350.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>es el directorio para la Compra y Venta de Vehículos en la República Dominicana con mayor experiencia y dedicación, ya que nuestro enfoque no es tener un simple Directorio, sino más bien una herramienta que sirva de parámetro a los
                        usuarios para comprar y vender sus vehículos, verificar las condiciones, realizar comparaciones y obtener el mejor servicio en línea en la República Dominicana. <br><br>Contamos con más de 23 años de experiencia en el Sector Automotriz
                        en la República Dominicana, lo cual nos avala junto a nuestra dedicación y entrega, a brindarles el mejor soporte y las mejores atenciones, para que ustedes se sientan como en su casa, con productos y servicio de primera calidad
                        y a la altura de sus más exigentes requerimientos.</p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <p>Copyright © 2020 Company Name - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>