<!-- ***** Preloader Start ***** -->

<!-- ***** Preloader End ***** -->

<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <h2>Car Dealer <em>Website</em></h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/home">Home
                  <span class="sr-only">(current)</span>
                </a>
                    </li>

                    <li class="nav-item"><a class="nav-link" routerLink="/shop">Cars</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="blog.html">Blog</a>
                            <a class="dropdown-item" href="team.html">Team</a>
                            <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                            <a class="dropdown-item" href="terms.html">Terms</a>
                        </div>
                    </li>

                    <li class="nav-item"><a class="nav-link" routerLink="/about">About Us</a></li>

                    <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
            <div class="text-content">
                <h4>Find your car today!</h4>
                <h2>Concensionario de autos</h2>
            </div>
        </div>
        <div class="banner-item-02">
            <div class="text-content">
                <h4>Fugiat Aspernatur</h4>
                <h2>Concensionario de autos</h2>
            </div>
        </div>
        <div class="banner-item-03">
            <div class="text-content">
                <h4>Saepe Omnis</h4>
                <h2>Concensionario de autos</h2>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->

<div class="happy-clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Happy Clients</h2>

                    <a href="testimonials.html">read more <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-clients owl-carousel text-center">
                    <div class="service-item">
                        <div class="icon student_img">
                            <img src="../../../assets/dist/images/wilson.jfif" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Wilson Tomas</h4>
                            <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                        </div>
                    </div>

                    <div class="service-item">
                        <div class="icon student_img">
                            <img src="../../../assets/dist/images/rosario.jfif" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Rosario Reyes</h4>
                            <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                        </div>
                    </div>

                    <div class="service-item">
                        <div class="icon student_img">
                            <img src="../../../assets/dist/images/omairy.jfif" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Omairy De La Cruz</h4>
                            <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                        </div>
                    </div>

                    <div class="service-item">
                        <div class="icon student_img">
                            <img src="../../../assets/dist/images/ramon.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Ramon Santos</h4>
                            <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                        </div>
                    </div>

                    <div class="service-item">
                        <div class="icon student_img">
                            <img src="../../../assets/dist/images/ronaldo.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Ronaldo Mateo</h4>
                            <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 text-right">
                            <a href="contact.html" class="filled-button">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <p>Copyright © 2020 Company Name - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>